/* 
1.ナビケーションメニューデザイン設定 
*/
.menu-left
{
    float:left;
    width:130px;
    margin: 0ch;
    padding-left: 2em;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
}

.menu
{
    
    padding-left: 0cm;
    margin: 0ch;
    list-style:none;
    overflow: hidden;
    float:left;
}
.menu li
{
    background: url("img/カンフーのピクトグラム1.jpeg") left 0px top 3px no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
    line-height: 1.4em;
    float:left;
    width:140px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*
2. body 背景設定 
 */

.math
{
    background: url("img/uyunienkoDSC_0671_TP_V.jpg");
    padding-bottom: 18px;
    border-bottom-style:solid;
}
.nenrei
{
    margin-top: 0px;
    padding-top: 0ch;
    padding-bottom: 18px;

    background: url("img/music-1106439_640.jpg");
}
.todo{
    background: url("img/uyunienkoDSC_0671_TP_V.jpg");
    width: auto;
    height: 500px;
}
.lin{
    background:url("img/background-4276798_640.jpg");
}
.title-menu
{
    color:rgb(0, 162, 255);
    font-size: 16px;
    text-shadow: 4px 2px 3px #808080;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.lins{
    color:rgb(8, 16, 20);
    font-size: 16px;
    text-shadow: 4px 2px 3px #808080;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* 
3.足し算　
*/
.math{
    padding-top: 10px;
    clear: both;
}
.content p{
    padding-top: 10px;
    clear: both;
}